<div class="shadow-sm bg-white p-3 rounded">
    <div class=" bg-profile-head">
        <h5 class="mb-0 p-2 FontTitle  text-white">School Reset Password</h5>
    </div>
  







  <div class="row">
        <!-- <div class="col-md-4 form-group mt-3 mb-3">
            <label class="titleSet">Select Region Name</label>
            <mat-select (selectionChange)="getAllRegionStationSchoolList($event.value)" [disabled]="businessTypeId==3" [(ngModel)]="modeselect" class="form-control" value="">
                <mat-option value="">Select Region Name</mat-option>
                <mat-option *ngFor="let reg of regionList" [value]="reg.regionCode">{{reg.regionName}}({{reg.regionCode}})</mat-option>
            </mat-select>
        </div> -->
        <div class="col-md-3 form-group mt-5">
            <div class="float-end">
            <div *ngIf="dataSource">
                <mat-form-field style=" width: 350px;">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search School name">
                </mat-form-field>
            </div>
        </div>
        </div>

         <!--  <div class="col-md-2 form-group mt-3">
            <label class="titleSet">Select Station Name</label>
            <mat-select (selectionChange)="getSchoolList($event)" class="form-control" value="">
                <mat-option value="">Select Station Name</mat-option>
                <mat-option *ngFor="let station of stationList" [value]="station.stationCode">
                    {{station.stationName}}({{station.stationCode}})</mat-option>
            </mat-select>
        </div>
        <div class="col-md-2 form-group mt-3">
            <label class="titleSet">Select School Name</label>
            <mat-select (selectionChange)="getSanctionPostList($event)" class="form-control" value="">
                <mat-option value="">Select School Name</mat-option>
                <mat-option *ngFor="let school of schoolList" [value]="school.schoolCode">
                    {{school.schoolName}}({{school.schoolCode}})</mat-option>
            </mat-select>
        </div>
        <div class="col-md-2">
            <button mat-raised-button color="primary" class="float-end mt-2" (click)="sanctionedPostMappingPdf()">Download PDF</button>
        </div>
        <div class="col-md-2">
            <button mat-raised-button class="float-end mt-2 btn-primary" (click)="exportexcel()">Download Excel</button>
        </div>
    </div> -->

</div>
<div class="row bg-1">
    
    <div class="example-container mat-elevation-z8">
        <table mat-table *ngIf="dataSource?.data?.length > 0" [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">

            <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> S.No. </th>
                <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
            </ng-container>


        

            


            <ng-container matColumnDef="schoolName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> School  name </th>
                <td mat-cell *matCellDef="let element"> {{element.schoolName}} </td>
            </ng-container>
           

          
           
            <ng-container matColumnDef="action" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Reset Password </th>                 
                <td mat-cell *matCellDef="let element" ><i  class='bx bx-key bxStyle1 reset-btn'  (click)="resetPassword(element.schoolCode)" title="Reset Password" ></i></td>
            </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data Found</td>
            </tr>
        </table>


        <mat-paginator [pageSizeOptions]="[10,20, 25]"> </mat-paginator>
    </div>
</div>