<div class="container-fluid px-4">
    <div class=" bg-profile-head">
        <h5 class="mb-0 p-2 FontTitle  text-white">Post-Subject Mapping</h5>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight mb-3">
        <div class="p-1" *ngIf="!freezeStatus">
            <button mat-raised-button class="float-end mt-2 btn-success" (click)="redirectto()">Add</button>
        </div>
        <div class="p-1">
            <button mat-raised-button class="float-end mt-2 btn-secondary" (click)="postSubjectMapping()">Download PDF</button>
        </div>
        <div class="p-1">
            <button mat-raised-button class="float-end mt-2 btn-primary" (click)="exportexcel()">Download Excel</button>
        </div>        
    </div>
    <div class="row bg-1" style="background-color:#fff ;">
        <div *ngIf="dataSource">
            <mat-form-field style="width: 30%;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Post Code or Post Name or Subject Code or Subject Name">
            </mat-form-field>
        </div>
        <div class="example-container mat-elevation-z8">
            <table mat-table *ngIf="dataSource?.data?.length > 0" [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">

                <ng-container matColumnDef="sno">
                    <th mat-header-cell *matHeaderCellDef> S.No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                </ng-container>

                <ng-container matColumnDef="postCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Post Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.postCode}} </td>
                </ng-container>

                <ng-container matColumnDef="postName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Post name </th>
                    <td mat-cell *matCellDef="let element"> {{element.postName}} </td>
                </ng-container>


                <ng-container matColumnDef="subjectCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.subjectCode}} </td>
                </ng-container>

                <ng-container matColumnDef="subjectName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.subjectName}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data Found</td>
                </tr>
            </table>


            <mat-paginator [pageSizeOptions]="[10,20, 25]"> </mat-paginator>
        </div>
    </div>
</div>