<div class="cardSet50 px-4">
    <form [formGroup]="regionForm" (ngSubmit)="submit()">

        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class=" headingBack mb-4">
                        <span class="fonttileHeading">{{(isEdit)?'Edit Region':'Add New Region'}}</span>
                    </div>

                    <div class=" prof-fields bg-white shadow p-4 rounded-3">
                        <div class="row">

                            <div class="col-md-4 form-group my-2">
                                <label class="titleSet">Region Code</label>
                                <input type="text" formControlName="regioncode" class="form-control" maxlength="2" minlength="2">
                                <!-- <span class="help-block text-danger"
                                    *ngIf="!regionForm.get('regioncode').valid && regionForm.get('regioncode').touched">Please Enter Region Code !</span> -->
                                <mat-error *ngIf="isSubmitted && errorHandling('regioncode', 'required')">
                                    Please Enter Region Code!
                                </mat-error>
                                <mat-error *ngIf="isSubmitted && errorHandling('regioncode','pattern')">Please Enter Region Valid Code.(2 digit number)
                                </mat-error>
                            </div>
                            <div class="col-md-4 form-group my-2">
                                <label class="titleSet">Region Name</label>
                                <input type="text" formControlName="regionname" class="form-control" maxlength="50" minlength="3">
                                <!-- <span class="help-block text-danger"
                                    *ngIf="isSubmitted && !regionForm.get('regionname').valid && regionForm.get('regionname').touched">Please Enter Region Name !</span> -->
                                <mat-error *ngIf="isSubmitted && errorHandling('regionname', 'required')">
                                    Please Enter Region Name!
                                </mat-error>
                                <mat-error *ngIf="isSubmitted && errorHandling('regionname', 'minlength')">
                                    Please Enter Minimum 3 characters word for Region Name!
                                </mat-error>
                                <mat-error *ngIf="isSubmitted && errorHandling('regionname','textField')">Pleae Enter a Valid Name!(Only white space is allowed.)
                                </mat-error>
                            </div>
                            <div class="col-md-4 form-group my-2">
                                <!-- <mat-form-field style="width: 100%;"> -->
                                <label class="titleSet">Select Status</label>
                                <mat-select formControlName="status" class="form-control">
                                    <mat-option>Select Status</mat-option>
                                    <mat-option *ngFor="let status of statusList" [value]="status.value">{{status.status}}</mat-option>
                                </mat-select>

                                <!-- </mat-form-field> -->
                                <mat-error *ngIf="isSubmitted && errorHandling('status', 'required')">
                                    Please select the status!
                                </mat-error>
                                <!-- <span class="help-block text-danger"
                                *ngIf="!regionForm.get('status').valid && regionForm.get('status').touched">Please select the status!</span> -->
                            </div>
                            <div class="mt-2 text-end">
                                <button type="submit" class="btn btn-success mt-2">{{(isEdit)?'Update':'Add Region'}}</button>&nbsp;&nbsp;
                                <button type="button" *ngIf="!isEdit" class="btn btn-primary mt-2" (click)="clear()">Clear</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary mt-2" (click)="redirectToList()">Cancel</button>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </form>
</div>