<div class="cardSet50 px-4">
    <form [formGroup]="regionMForm" (ngSubmit)="submit()">

        <div class="row">
            <div class="col-md-12">
                <div class="">
                   
                    <div class=" headingBack mb-4">
                        <span class="fonttileHeading">Region-Station Mapping</span>
                    </div>

                    <div class=" prof-fields bg-white shadow p-4 rounded-3">
                        <div class="row">


                            <div class="col-md-4 my-2 form-group">
                                <label class="titleSet">Select Region</label>
                                <ng-multiselect-dropdown [placeholder]="'Select Region'" [settings]="dropdownRegionSettings" [data]="dropdownRegionList" [(ngModel)]="selectedRegionItems" formControlName="regionCode">
                                </ng-multiselect-dropdown>
                                <span class="help-block text-danger" *ngIf="!regionMForm.get('regionCode').valid && regionMForm.get('regionCode').touched">Please Enter Region!</span>
                            </div>
                            <div class="col-md-4 my-2 form-group">
                                <label class="titleSet">Select Station</label>
                                <ng-multiselect-dropdown #multiStation [placeholder]="'Select Station'" [settings]="dropdownStationSettings" [data]="dropdownStationList" [(ngModel)]="selectedStationItems" formControlName="stationCode">
                                </ng-multiselect-dropdown>
                                <span class="help-block text-danger" *ngIf="stationMapped">All Station has been mapped</span>
                                <span class="help-block text-danger" *ngIf="!regionMForm.get('stationCode').valid && regionMForm.get('stationCode').touched">Please Enter Station!</span>

                            </div>
                            <div class="col-md-4 my-2 form-group ">
                                <label class="titleSet">From Date</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <mat-datepicker-toggle mdSuffix [for]="pickers"></mat-datepicker-toggle>
                                        <mat-datepicker #pickers></mat-datepicker>
                                    </div>
                                    <input class="form-control" [matDatepicker]="pickers" placeholder="Date" (click)="pickers.open()" formControlName="fromDate">
                                </div>
                                <span class="help-block text-danger" *ngIf="!regionMForm.get('fromDate').valid && regionMForm.get('fromDate').touched">Please Select From Date!</span>

                            </div>
                            <div class="col-md-4 my-2 form-group">
                                <label class="titleSet">To Date</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <mat-datepicker-toggle mdSuffix [for]="pickers1"></mat-datepicker-toggle>
                                        <mat-datepicker #pickers1></mat-datepicker>
                                    </div>
                                    <input class="form-control" [matDatepicker]="pickers1" placeholder="To Date(DD/MM/YYYY)" formControlName="toDate" [max]="currentDate()" [min]="regionMForm.get('fromDate').value" (click)="pickers1.open()">
                                </div>
                                <span class="help-block text-danger" *ngIf="!regionMForm.get('toDate').valid && regionMForm.get('toDate').touched">Please Select To Date!</span>

                            </div>
                            <div class="col-md-4 my-2 form-group ">
                                <mat-form-field appearance="outline" class="w-100 mt-4" >
                                    <mat-label class="mat_lable">Select Status</mat-label>
                                    <mat-select formControlName="status">
                                        <mat-option>Select Status</mat-option>
                                        <mat-option *ngFor="let status of statusList" [value]="status.value">{{status.status}}</mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="isSubmitted && errorHandling('status', 'required')">
                                   Please select the Status.
                                </mat-error> -->
                                </mat-form-field>
                                <span class="help-block text-danger" *ngIf="!regionMForm.get('status').valid && regionMForm.get('status').touched">Please select the status!</span>
                            </div>
                            <div class="text-end">
                                <button type="submit" class="btn btn-success mt-2">Submit</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary mt-2" (click)="clear()">Clear</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary mt-2" (click)="redirectToList()">Cancel</button>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </form>
</div>