<div class="dashboard-main-content" style="min-height: 600px;">
    <div class="dashboard-main-content__header">
      <h1>Add/Edit Institution User Details</h1>
    </div>
   
      <nav aria-label="breadcrumb" class="mt-1">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Institute Management</a></li>
        </ol>
      </nav>
     
      <div class="dashboard-main-content-info p-5">
        <div class="tab-content" id="myTabContent">   
        <div class="row justify-content-center d-flex">
          <div class="col-lg-10">
           
            <div class="card p-3">
                <form id="msform" [formGroup]="addInstituteForm" (ngSubmit)="onSubmit()">
              <div class="pb-2 mt-2  row  m-0">
                <label for="staticEmail" class="col-sm-2 col-form-label ps-0">Institution type</label>
                <div class="col-sm-3">

                    <select class="form-select" aria-label="Default select example" name="presentPostName" formControlName="instituteType" (change)="getStationByRegionId($event)" [ngClass]="{ 'is-invalid': addInstituteFormubmitted && f.instituteType.errors }">
                        <option selected disabled>Select Institute Type</option>
                        <option *ngFor="let data of instituteType"
                        value="{{data.value}}">{{data.name}}</option>
                    </select>
                    <div *ngIf="addInstituteFormubmitted && f.instituteType.errors" class="invalid-feedback">Institute type is required</div>
                </div>

                <label for="staticEmail" class="col-sm-2 col-form-label ">Instituion List </label>
                <div class="col-sm-3">   
                    <select class="form-select " aria-label="Default select example" formControlName="instituteCode" [ngClass]="{ 'is-invalid': addInstituteFormubmitted && f.instituteCode.errors }">
                        <option selected disabled>Select Institute List </option>
                        <option *ngFor="let data of regionList; let i=index;" value="{{data.region_code}}">
                            {{data.region_name}}
                        </option>
                    </select>
                    <div *ngIf="addInstituteFormubmitted && f.instituteCode.errors" class="invalid-feedback">Institute list is required</div>
                </div>
              </div>
  

              <div class="pb-2 mt-2  row  m-0">
               <label for="staticEmail" class="col-sm-2 col-form-label ps-0">User Name</label>
                <div class="col-sm-3">

                    <input type="text"   class="form-control" id="userName" formControlName="userName" [ngClass]="{ 'is-invalid': addInstituteFormubmitted && f.userName.errors }">
                    <div *ngIf="addInstituteFormubmitted && f.userName.errors" class="invalid-feedback">Institute name is required</div>
                </div>

                <label for="staticEmail" class="col-sm-2 col-form-label" >Email</label>
                <div class="col-sm-3">

                    <input type="text"   class="form-control" id="staticUserEmail" formControlName="Email"  [ngClass]="{ 'is-invalid': addInstituteFormubmitted && f.Email.errors }">
                    <div *ngIf="addInstituteFormubmitted && f.Email.errors" class="invalid-feedback">Email is required</div>
                </div>
              </div>
  
     
              <div class="pb-2 mt-2  row  m-0">
                <label for="staticEmail" class="col-sm-2 col-form-label ps-0">Name</label>
                 <div class="col-sm-3">
 
                    <input type="text"   class="form-control" id="staticUserEmail" formControlName="Name" [ngClass]="{ 'is-invalid': addInstituteFormubmitted && f.Name.errors }" >
                    <div *ngIf="addInstituteFormubmitted && f.Name.errors" class="invalid-feedback">Name is required</div>
                </div>
 
                 <label for="staticEmail" class="col-sm-2 col-form-label ">Mobile</label>
                 <div class="col-sm-3">
 
                     <input type="text"   class="form-control" id="staticUserEmail" formControlName="Mobile" [ngClass]="{ 'is-invalid': addInstituteFormubmitted && f.Mobile.errors }">
                     <div *ngIf="addInstituteFormubmitted && f.Mobile.errors" class="invalid-feedback">Mobile is required</div>
                 </div>
               </div>
               <div class="text-center my-2 "><button class="insitute-svae-button">Save</button></div>
            </form>
            </div>
      
          </div>
        </div>
     </div>  
  </div><!--close main-content-info-->
  </div><!--close dashboard-main-content-->
  