<div class="sidebar-logo text-center">
  <img src="assets/images/kvs-logo.svg">
</div>

<div class="sidebar-inner">
<!-----------------------------------------------show National on busnis id 2  and 3------------------------->
<div class="accordion" id="accordionExample" *ngIf="showNational || showRegion">
  <div class="accordion-item" >
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <i class="bi bi-pencil me-2"></i> User Management
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body p-0 pt-3 pb-3">
        <ul>
          <li class="active"><a routerLinkActive="active" routerLink="/teacher/userMaster"><i class="bi bi-dot"></i>user Management</a></li>
          <li><a href="#"><i class="bi bi-dot"></i>comming soon....</a></li>
          
       </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item" >
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <i class="bi bi-book me-2"></i>Master
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul>
          <li class="active"><a routerLinkActive="active" routerLink="/teacher/regionMaster"><i class="bi bi-dot"></i>Region/ZIET Master</a></li>
          <li><a routerLinkActive="active" routerLink="/teacher/stationMaster"><i class="bi bi-dot"></i>Station Master</a></li>
          <li><a routerLinkActive="active" routerLink="/teacher/schoolMaster"><i class="bi bi-dot"></i>School/Institution Master</a></li>
          <li><a routerLinkActive="active" routerLink="/teacher/stationCategoryMaster"><i class="bi bi-dot"></i>Station Category Master</a></li>
          <li><a routerLinkActive="active" routerLinkActive="active" routerLink="/teacher/stafftypeMaster"><i class="bi bi-dot"></i>Staff Type Master</a></li>
          <li><a routerLinkActive="active" routerLinkActive="active" routerLink="/teacher/designationMaster"><i class="bi bi-dot"></i>Designation Master</a></li>
          <li><a routerLinkActive="active" routerLinkActive="active" routerLink="/teacher/subjectMaster"><i class="bi bi-dot"></i>Subject Master</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <i class="bi bi-person-video3 me-2"></i>Mapping
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul>
          <li class="active"><a  routerLinkActive="active" routerLink="/teacher/regionStationMapping"><i class="bi bi-dot"></i>Region Station Mapping</a></li>
          <li><a routerLinkActive="active" routerLink="/teacher/stationCategoryMapping"><i class="bi bi-dot"></i>Station Category Mapping</a></li>
          <li><a routerLinkActive="active" routerLink="/teacher/schoolStationMapping"><i class="bi bi-dot"></i>Station School Mapping</a></li>
          <li><a routerLinkActive="active" routerLink="/teacher/stafftypePostMapping"><i class="bi bi-dot"></i>Staff-Type-Post Mapping</a></li>
          <li><a routerLinkActive="active" routerLink="/teacher/postSubjectMapping"><i class="bi bi-dot"></i>Post-Subject Mapping</a></li>
          <li><a routerLinkActive="active" routerLink="/teacher/sanctioned-all-post"><i class="bi bi-dot"></i>Sanctioned-Post Mapping</a></li> 
        </ul>
      </div>
    </div>
  </div>
</div>

<!-------------------------------------Close Here National ------------------------------------------->

<!------------------Show School bussines id 5--------------------------------------------------------->
<ul class="list" *ngIf="showSchool">
                <li><a routerLinkActive="active" routerLink="/teacher/profile"><i class="bi bi-eye me-2"></i>Dashboard</a></li>
                <li><a routerLinkActive="active" routerLink="/teacher/userMaster"> <i class="bi bi-pencil-square me-2"></i>User Management</a></li>
                <li><a routerLinkActive="active" routerLink="/teacher/kvsTchDetails"> <i class="bi bi-file-text me-2"></i>Employee Details</a></li>
                <li><a href="#"> <i class="bi bi-gear-fill me-2"></i>SETTINGS</a></li>
            </ul>


{{timeLeft}}
<!-----------------------Close Here School------------------------------------------------------------>

</div>

<div class="dashboard-icon" title="Close Sidebar">
  <i class="bi bi-chevron-left dashboard-chevron-left"></i>
</div>
