<div class="cardSet px-4">
    <div class="d-flex justify-content-between headingBack mb-4">
        <div class="mt-3">
            <span class="fonttileHeading"> Staff-Type-Post Mapping </span>
        </div>
        <div class="d-flex d-flex-row">
    
        <div class="p-1" *ngIf="!freezeStatus">
            <button mat-raised-button class="float-end mt-2 btn-success" (click)="redirectto()"><i class="bi bi-plus-circle me-1"></i> Add</button>
        </div>
        <div class="p-1">
            <button mat-raised-button class="float-end mt-2 btn-secondary" (click)="stafftypePostMappingPdf()"><i class="bi bi-file-pdf me-1"></i> Download PDF</button>
        </div>
        <div class="p-1">
            <button mat-raised-button class="float-end mt-2 btn-primary" (click)="exportexcel()"><i class="bi bi-file-earmark-excel me-1"></i> Download Excel</button>
        </div>        
    </div>
    </div>
    <div class="shadow bg-white rounded-3">
        <div *ngIf="dataSource">
            <mat-form-field appearance="outline" class="px-4 py-2 searchInput">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Staff Type or Post Code or Post Name">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="example-container mat-elevation-z8 table-responsive">
            <table mat-table *ngIf="dataSource?.data?.length > 0" [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">

                <ng-container matColumnDef="sno">
                    <th mat-header-cell *matHeaderCellDef> S.No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                </ng-container>

                <ng-container matColumnDef="staffType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Staff-Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.staffType}} </td>
                </ng-container>

                <ng-container matColumnDef="postCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Post Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.postCode}} </td>
                </ng-container>


                <ng-container matColumnDef="postName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Post Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.postName}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data Found</td>
                </tr>
            </table>


            <mat-paginator [pageSizeOptions]="[10,20, 25]"> </mat-paginator>
        </div>
    </div>
</div>