
<div class="container-fluid px-4">
    <form [formGroup]="stationCategoryMForm" (ngSubmit)="submit()">
        
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-83">
                    <div class=" bg-profile-head">
                        <h5 class="mb-0 p-2 FontTitle  text-white">Station-Category Mapping</h5>
                    </div>
                 
                    <div class="m-3 prof-fields">
                        <div class="row">

                            <div class="col-md-6 form-group">
                                <label class="titleSet">Select Station</label>                    
                                    <ng-multiselect-dropdown #multiStation
                                    [placeholder]="'Select Station'"
                                    [settings]="dropdownStationSettings"
                                    [data]="dropdownStationList"
                                    [(ngModel)]="selectedStationItems"
                                    formControlName="stationCode" 
                                  >
                                  </ng-multiselect-dropdown>
                                  <span class="help-block text-danger"
                                  *ngIf="!stationCategoryMForm.get('stationCode').valid && stationCategoryMForm.get('stationCode').touched">Please Enter Station!</span>
                              
                            </div>
                                                               
                            <div class="col-md-6 form-group">
                                <!-- <mat-form-field style="width: 100%;">
                                    <mat-label class="titleSet">Select Station Category</mat-label>
                                    <mat-select  formControlName="category" class="mt-3">
                                        <mat-option value="">Select Station Category</mat-option>
                                        <mat-option *ngFor="let data of categoryList" [value]="data.category">{{data.category}}
                                        </mat-option>

                                    </mat-select>
                                </mat-form-field> -->
                                <label class="titleSet">Select Station Category</label>                    
                                    <ng-multiselect-dropdown
                                    [placeholder]="'Select Station Category'"
                                    [settings]="dropdownCategorySettings"
                                    [data]="dropdownCategoryList"
                                    [(ngModel)]="selectedCategoryItems"
                                    formControlName="category" 
                                  >
                                  </ng-multiselect-dropdown>
                                  <span class="help-block text-danger"
                                  *ngIf="!stationCategoryMForm.get('category').valid && stationCategoryMForm.get('category').touched">Please Enter Station-Category!</span>
                            </div>
                            <div class="col-md-6 form-group mt-2">
                                <label class="titleSet">From Date</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <mat-datepicker-toggle mdSuffix [for]="pickers"></mat-datepicker-toggle>
                                        <mat-datepicker #pickers></mat-datepicker>
                                    </div>
                                    <input class="form-control" [matDatepicker]="pickers" placeholder="Date"  (click)="pickers.open()"
                                        formControlName="fromDate" >
                                </div>
                                <span class="help-block text-danger"
                                *ngIf="!stationCategoryMForm.get('fromDate').valid && stationCategoryMForm.get('fromDate').touched">Please Select From Date!</span>
                            
                            </div>
                            <div class="col-md-6 form-group mt-2">
                                <label class="titleSet">To Date</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <mat-datepicker-toggle mdSuffix [for]="pickers1"></mat-datepicker-toggle>
                                        <mat-datepicker #pickers1></mat-datepicker>
                                    </div>
                                    <input class="form-control" [matDatepicker]="pickers1" placeholder="To Date(DD/MM/YYYY)"
                                        formControlName="toDate" [min]="stationCategoryMForm.get('fromDate').value"  [max]="currentDate()"  (click)="pickers1.open()">
                                </div>
                                <span class="help-block text-danger"
                                *ngIf="!stationCategoryMForm.get('toDate').valid && stationCategoryMForm.get('toDate').touched">Please Select To Date!</span>
                            
                            </div>
                            <div class="col-md-6 form-group mt-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label class="mat_lable">Select Status</mat-label>
                                <mat-select formControlName="status">
                                    <mat-option>Select Status</mat-option>
                                    <mat-option *ngFor="let status of statusList" [value]="status.value">{{status.status}}</mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="isSubmitted && errorHandling('status', 'required')">
                                   Please select the Status.
                                </mat-error> -->
                            </mat-form-field>
                            <span class="help-block text-danger"
                            *ngIf="!stationCategoryMForm.get('status').valid && stationCategoryMForm.get('status').touched">Please select the status!</span>
                        </div>
                            <div>
                                <button type="submit" class="btn btn-primary mt-2">Submit</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary mt-2" (click)="clear()">Clear</button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary mt-2" (click)="redirectToList()">Cancel</button>
                            </div>

                    </div>
            
                </div>
            </div>


        </div>
        </div>
    </form>
</div>