 
  table {
    width: 100%;
  }
  th.mat-header-cell:first-of-type{
    padding-left: 8px;
    text-align: center;
  }
  th.mat-header-cell{
    padding-left: 24px;
  }
  td.mat-cell{
    padding-left: 24px;
  }
  .bg-1{
    background-color: #fff;
  }